<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <h2>Login</h2>
            <form class="login__form" action="/login" method="POST">
                <input class="login__input" type="text" id="nome" name="nome" placeholder="Nome de Usuário" required>
                <input class="senha__input" type="password" id="senha" name="senha" placeholder="Senha" required>
                <a href="/cadastro"><input class="cadastrar" type="button" value="NÃO TEM CADASTRO?"></a>
                <input class="login__button" type="submit" value="Entrar">
            </form>
        </div>
    </div>
</body>
</html>
